<h2>Search Results</h2>
<% if @recipes.any? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
      <li><%= "Category: #{recipe.category}" %></li>
      <li><%= "Ratings: #{recipe.ratings}" %></li>
      <li><%= "Author: #{recipe.author}" %></li>
      <% recipe.highlighted_ingredients.each do |ingredient| %>
        <li><%= ingredient.html_safe %></li>
      <% end %>
      <p>Match: <%= recipe.ingredients_match_text %> (<%= recipe.hit_percent.round(1) %>%)</p>
      <br>
  <% end %>
  </ul>
<% else %>
  <p>No recipes found.</p>
<% end %>
