<h1>Recipe</h1>
<ul>
  <li><%= "Title: #{@recipe.title}" %></li>
  <li><%= "Category: #{@recipe.category}" %></li>
  <li><%= "Ratings: #{@recipe.ratings}" %></li>
  <li><%= "Cooking Time: #{@recipe.cook_time}" %></li>
  <li><%= "Preparation Time: #{@recipe.prep_time}" %></li>
  <li><%= "Author: #{@recipe.author}" %></li>
  <li><%= "Ingredients: #{@recipe.ingredients}" %></li>
</ul>
