<h1>Recipe</h1>
<ul>
  <li><%= @recipe.title %></li>
  <li><%= @recipe.category %></li>
  <li><%= @recipe.ratings %></li>
  <li><%= @recipe.cook_time %></li>
  <li><%= @recipe.prep_time %></li>
  <li><%= @recipe.author %></li>
  <li><%= @recipe.ingredients %></li>
</ul>
